* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.search-result {
    margin-top: 30px;
    border-radius: 10px;
    background-color: white;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    /* height: 150px; */
}

.search-result:hover {
    box-shadow: 2px 2px 2px 2px gray;
}

.skills {
    background-color: gray;
    color: white;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    opacity: 0.5;
    margin-top: 5px;
}

.rows {
    padding-top: 12px;
}

.bookmark-ribbon {
    opacity: 0.5;
    border: 2px solid gray;
    border-radius: 5px;
}   

.title {
    color: lightgreen;
    font-size: 17px;
    font-weight: 600;
    margin: 0px;
}

.description {
    color: gray;
    margin: 0px;
    font-size: 13px;
}

.verified {
    font-size: 12px;
    font-weight: 600;
    opacity: 0.5;
}

.proposals {
    font-size: 12px;
    font-weight: 600;
    opacity: 0.9;
}

span {
    color: lightgreen
}